<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/basic.css">
    <title> C++ Music Playlist </title>
</head>
<body>
    <div class="FrontPageTitle">
        <h1> C++ Music Playlist Management System </h1>
    </div>
    <div class="containerMusic">
        <p class="content">
                 This code implements a C++ program that simulates a playlist management system.
                 It allows users to create a playlist, add tracks to the playlist, remove tracks,
                 toggle track favorites, insert tracks at specifiic positions, display the playlist, 
                 and search for tracks by genre. The program utilizes various data structures such
                 as linked lists to manage the playlist and song information. It also includes a
                 menu-driven interface for user interation.
            <br>
            <br>
            <br>    
            <a href="https://github.com/viccon23/Music-Playlist" class="center-link">- Github Link -</a>
    <div class="image-containerMusic">
        <img src="/static/MusicPlaylist1.PNG" alt="Image 1">
        <img src="/static/MusicPlaylist3.PNG" alt="Image 2">
    </div>    
</div>
</body>