<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/basic.css">
    <title> ChatGPT Bot</title>
</head>
<body>
    <div class="FrontPageTitle">
        <h1> ChatGPT Discord Bot </h1>
    </div>
    <div class="containerMessage">
        <p class="content">
                 In this small personal project, I wanted to create a bot on discord that would utilize the ChatGPT API and respond to user questions that would be asked on a channel in a Discord Server. The bot remembers the previous 15 user responses
            so that context will remain and preserve conversation between the user and the bot. The bot will also differentiate by user, so if one user is conversating with the bot and another user types another question, then the bot will remember
            any previous messages from that specific user, and not from the other. In short, it does one-on-one conversations.
            <br>     The project was also a great way to become introduced to using Node.js, Javascript, and discord.js.
            <br>
            <br>
            <br>    
            <a href="https://github.com/viccon23/WordleGamepy" class="center-link">- Github Link -</a>
    <div class="image-containerMessage">
        <img src="/static/GPT1.PNG" alt="Image 1">
        <img src="/static/GPT2.jpg" alt="Image 2">
    </div>    
</div>
</body>