<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/basic.css">
    <title> Python Wordle Project</title>
</head>
<body>
    <div class="FrontPageTitle">
        <h1> Wordie: A Python Wordle Clone </h1>
    </div>
    <div class="containerWordle">
        <p class="content">
            In this project, I collaborated with 3 other collegues to create a clone of the game Wordle, titled "Wordie". In short, the game requires you to guess the randomly selected 
            word within a limited number of tries, using previous words and their letter placements as clues as to what the correct word is.
            <br>    Overall, the project took 4 months to complete, including the planning and designing of the game. To add a bit of a challenge and originality,
        we decided to include the options of difficulties and a timer. 
            <br>    The difficulties will not only change the length of the word that you
        will have to guess, but also the number of guesses you have to guess the word correctly. Additionally, the length of the timer will also be affected depending on the difficulty.
            <br>
            <br>
            <a href="https://github.com/viccon23/WordleGamepy" class="center-link">- Github Link -</a>
    <div class="image-container">
        <img src="/static/Wordie1.PNG" alt="Image 1">
        <img src="/static/Wordie2.PNG" alt="Image 2">
    </div>    
</div>
</body>