<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="static/basic.css">
    <title> Python Wordle Project</title>
</head>
<body>
    <div class="FrontPageTitle">
        <h1> Python Wordle Project </h1>
    </div>
    <p class="content"> For this project, I collaborated with 3 other collegues to create a clone of the game Wordle, using the Python package PyGame.
        Overall, the project took 4 months to complete, including the planning and designing of the game. To add a bit of a challenge and originality to the game,
        we decided to include the options of difficulties and a timer. The difficulties will not only change the length of the word that you
        will have to guess, but also the number of guesses you have to guess the word correctly. Additionally, the length of the timer will also be affected depending on the difficulty.
    </p>
</body>